:root {
  --color-one: rgb(0, 0, 0);
  --color-two: rgb(69, 113, 194);
  --color-three: rgb(73, 121, 209);
  --color-four: rgb(114, 150, 216);
  font-size: 14px;
  color: rgb(255, 255, 255);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
@keyframes diagonal {
  0% {background-position: 0% 50%}
  100% {background-position: 100% 50%}
}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}
header nav #logo {
  width: 72px;
  height: 72px;
}
header nav #brand {
  width: 90px;
  height: 40px;
}
header nav #logo-brand {
  border: none;
}

header nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  background-color: #2b2e4b;
  background: linear-gradient(120deg, #2b2d30, 50%, #2b2e4d);
  position: fixed;
  z-index: 1000;
  gap: 2rem;
}
header nav a {
  border: solid 1px #2b2e4b;
  border-radius: 5px;
  border-color: white;
  text-shadow: -1px -1px 0 rgb(29, 29, 43), 1px -1px 0 rgb(29, 29, 43), -1px 1px 0 rgb(29, 29, 43),
    1px 1px 0 rgb(29, 29, 43);
  font-size: 1.5rem;
  padding: 0.5rem;
  margin-right: 1.5rem;
  cursor: pointer;
  color: white;
}

header nav a:visited{
  color:white;
}

#projects:hover,
#services:hover,
#about:hover,
#contact:hover {
  text-shadow: unset;
  background-color: white;
  color: #2b2e4b;
  transform: translateY(5px);
  transition: transform 0.2s ease-in-out;
}
#projects:active,
#services:active,
#about:active,
#contact:active {
  background-color: #2b2e4b;
  color: white;
  transform: translateY(10px);
}
header .intro {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 1rem;
  padding-top: 15rem;
  background: linear-gradient(120deg, #2b2d30, 50%, #2b2e4d);
}

header .intro h1 {
  font-size: 4rem;
}
header .intro h2 {
  font-size: 2rem;
  width: 65%;
  color: rgb(223, 221, 221);
}
header .intro > *:nth-child(2) {
  max-width: 50%;
}

header .intro img {
  width: 25rem;
  height: 25rem;
  object-fit: cover;
  border-radius: 5%;
  box-shadow: 0px 0px 1rem 0px black;
}
main {
  width:100%;
  background-size: 300% 150%;
  background-image: repeating-linear-gradient(
		-45deg,
		#463737 0%,  
		#3d4637 15%, 
		#373946 30%,    
		#463737 45% 
	);
  animation: diagonal linear 30s infinite;
 
}
main h1 {
  font-size: 7rem;
}

main h2 {
  font-size: 4rem;
}
main article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
main article section {
  display: flex;
  gap: 3rem;
  justify-content: center;
  width: calc(100% - 30vw);
}
main article section div {
  background: #191919;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px black;
  display:flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  padding:0.25rem;
}
main article section div p{
  text-align: center;
  font-size: 2rem;
}
main article section div h3{
  text-align: center;
  font-size: 2rem;
}
main article section img {
  width: 64px;
  height: 64px;
  filter:invert(3);
}
main article#contact-main section img{
  filter:unset;
}
main article section div a:not(#about-main a){
  background-color: #364890;
  color:white;
  border-radius: 6px;
  box-shadow: 0px 0px 5px 0px white;
  padding: 1rem;
}

main article#contact-main section div a{
  background-color: none;
}
main article#about-main section div{
  width: 100%;
  padding: 1.25rem;
  
}
main article#about-main section div p{
  text-align: left;
}
main article#about-main section div p strong{
  font-size: 4rem;
}
main article#about-main section div a{
  color:lightsalmon;
}

main article section div a:visited{
  background-color: #2b2e4b;
}

main article section div a:hover{
  background-color: #ffffff;
  color:#2b2e4b;
  cursor: pointer;

}
main article#projects-main img{
  filter:unset;
  width:150px;
  height:150px;
}
main article#about-main img{
  width: 20%;
  height: 30%;
}
@media screen and (max-width:700px) {
  header .intro h2{
    width:100%;
  }
  header nav{
    justify-content: center;
  }
  header nav #logo-brand{
    height:50%;
  }
}

@media screen and (max-width:1000px) {
  main article section {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    
  }
  main article section div,
  main article#about-main section div {
    width:100%;
  }
  main article#about-main img{
    width: 30%;
    height: 30%;
  }
}